.parallax1 {
    background-image: url(images/parralaxBG.jpg);
    min-height: 80%;
}

.parallax1, .parallax2, .parallax3, .parallax4 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
}

body, html {
    height: 100%;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 180%;
    color: #666;
    text-align: center;
}


.head {
    position: absolute;
    color: #fff;
    font-size: 500%;
    top:50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 20px;
    animation: drop 3.0s ease; /* Make things beautiful */
    cursor: pointer;
}

.head:hover{
    color:transparent;
}
